:root {
    --body-color: #ffff;
    --light-color: #ffff;
    --main-text-color: #373170;
    --hover-color: #F89D1B;
    --nav-color: #ffff;
    --form-color: white;


}

* {
    font-family: 'Poppins', sans-serif;
    font-size: 0.91rem;
}

::-webkit-scrollbar {
    width: 10px;
}


::-webkit-scrollbar-track {
    background: var(--body-color);
}


::-webkit-scrollbar-thumb {
    background: var(--main-text-color);
}


::-webkit-scrollbar-thumb:hover {
    background: var(--hover-color);
}

a {
    text-decoration: none;
}

body {
    background-color: var(--body-color);
}

/* header */

.navbar {
    background-color: transparent;
    transition: all 100ms;
    z-index: 1000;

}

.navbar:hover {
    background-color: var(--nav-color) !important;
    box-shadow: 0 0 10px #777 !important;
}

.navbar-toggler {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
    color: var(--main-text-color);
}

.navbar-nav .active-nav {
    color: var(--hover-color) !important;

}

.nav-item {
    color: var(--main-text-color) !important;
    transition: all 100ms;
    text-align: center;
    margin: 0 10px;
}

.nav-link {
    color: var(--main-text-color);
}

.nav-link:hover {
    color: var(--hover-color) !important;
}

.rotate-scale-up {
    animation: rotate-scale-up 0.4s linear both
}

.dropdown-menu {
    background-color: var(--body-color);
    height: 60vh;
    width: 80%;
    margin-left: 50%;
    transform: translateX(-50%);
    overflow: auto;
    transition: all 200ms !important;

}

.pro-list h6 {
    color: #0091bb;
}

.pro-list ul {
    padding-left: 10px;
}

.pro-list li {
    list-style: none;

}

.pro-list a::after {
    content: "";
    position: absolute;
    width: 3px;
    height: 0%;
    left: -15px;
    top: 0;
    background-color: var(--main-text-color);
    transition: all 300ms;
}

.pro-list a:hover::after {
    height: 100%;

}

.pro-list a {
    color: var(--main-text-color);
    position: relative;
    width: 100%;
    transition: all 200ms;
}

.pro-list p {
    font-size: 0.7rem;
}

.pro-list a:hover {
    color: var(--hover-color);
}

.darkMood {
    cursor: pointer;
    transition: all 300ms;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #0000000a;
    padding: 0;
    backdrop-filter: blur(3px);
    margin-top: 2px;
}


.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 500,
        'opsz' 48;
    transition: all 300ms;
    z-index: 9999999;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.material-symbols-outlined:hover {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 500,
        'opsz' 48;
    transition: all 300ms;
}


.input {
    width: 20px;
    height: 20px;
    background: none;
    border-radius: 50%;
    border: 2px solid var(--main-text-color);
    outline: none;
    transition: width 0.3s linear,
        border-radius 0.4s linear,
        padding 0.2s;
    transition-delay: 0.4s;
    color: var(--hover-color);

}

.inclicked {
    width: 150px;
    height: 25px;
    border-radius: 10px;
    padding: 0 10px;
    padding-right: 20px;
}

.btn {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 0;
    right: 0;
    box-sizing: border-box;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.btn::before {
    content: "";
    width: 2px;
    height: 7px;
    background: var(--main-text-color);
    position: absolute;
    transform: rotate(-45deg);
    bottom: 34px;
    right: -1px;
    ;
    transition: 0.5s;
}

.close::before,
.close::after {
    content: "";
    width: 2px;
    height: 18px;
    background: var(--main-text-color);
    position: absolute;
    bottom: 38px;
    right: 15px;
}

.close::before {
    transform: rotate(-45deg);
}

.close::after {
    transform: rotate(45deg);
}

.search-box {
    position: relative;
    width: max-content;
}

@keyframes rotate-scale-up {
    0% {
        transform: scale(1) rotateZ(0)
    }

    50% {
        transform: scale(1.5) rotateZ(180deg)
    }

    100% {
        transform: scale(1) rotateZ(360deg)
    }
}

.rotate-scale-down {
    animation: rotate-scale-down 0.4s linear both
}

@keyframes rotate-scale-down {
    0% {
        transform: scale(1) rotateZ(0)
    }

    50% {
        transform: scale(.5) rotateZ(180deg)
    }

    100% {
        transform: scale(1) rotateZ(360deg)
    }
}

/* landing */

.landing {
    height: 100vh;
    background-image: url("../images/landing-background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 10px;

}

.landing h1 {
    color: var(--nav-color);
    margin-bottom: 200px;

    font-size: 4rem;
    letter-spacing: 4px;
    position: relative;
    padding: 10px;
    transition: all 1000ms;
    opacity: 1;
}

.landing h1::before {
    content: "";
    background-image: url("../images/Idea\ 1.png");
    background-position: center;
    background-size: cover;
    position: absolute;
    right: 10px;
    bottom: -70%;
    width: 15%;
    height: 100%;
}

/* most-popular */

#most-popular h1,
#Categories h1 {
    color: var(--main-text-color);
}

#most-popular .card {
    border: none;
    margin: 20px 0;
    background-color: transparent;
}

#most-popular .card p {
    color: var(--main-text-color);
    text-align: center;
    font-size: 1.4em;
    font-weight: bold;
}

.fadeInUp {
    animation: fadeInUp alternate 0.8s;
}

.fadeInLeft {
    animation: fadeInLeft alternate 0.8s;
}

.fadeInRight {
    animation: fadeInRight alternate 0.8s;
}

.fadeIn {
    animation: fadeIn alternate 1.5s;
}

.fadeOut {
    animation: fadeOut ease-in-out alternate 2s;
}

.fadeInDown {
    animation: fadeInDown alternate 0.5s;
}

.zoomIn {
    animation: zoomIn alternate 0.5s;
}

.support {
    height: 70vh;
    background-image: url("../images/1\ 1.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.support h4 {
    position: absolute;
    color: var(--nav-color);
    font-size: 4rem;
    z-index: 11;
    top: 40px;
    left: 30px;
    width: 35%;
    transform: rotate(-10deg);
    letter-spacing: 3px;
}

.support h5 {
    position: absolute;
    color: var(--nav-color);
    font-size: 1.5rem;
    z-index: 11;
    top: 40%;
    left: 8%;
    width: 25%;
}

.pop-up {
    position: absolute;
    z-index: 10;
    top: 30px;
    left: 10px;
    width: 35%;
}

/* Categories */

.product-card {
    border: none;
    overflow: hidden;
    transition: all 300ms;
    background-color: transparent;
}

.product-card img {
    transition: all 500ms;
    border-radius: 30px;
}

.product-card img:hover {
    filter: brightness(0.7);
}

.product-card p {
    color: var(--main-text-color);
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
}

/* whatsapp circle */

.wa-circle {
    position: fixed;
    bottom: 10px;
    right: 20px;
    height: 50px;
    width: 50px;
    background-color: var(--form-color);
    border-radius: 50%;
    font-size: 30px;
    z-index: 300;
    border: 1px solid #aaaaaabd;
    transition: all 200ms;
    cursor: pointer;
    box-shadow: 0 0 5px #373170;
}

.wa-circle:active {
    box-shadow: inset 0 0 5px #373170;
}

.wa-circle div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50%;
    transform: translateY(-50%);
}

#down,
#wa {
    transition: all 200ms;
}

#down {
    position: absolute;
}

.opacity-0 {
    opacity: 0;
}


.sales:hover,
.tech-sup:hover {
    color: var(--hover-color);
}

.sales,
.tech-sup {
    color: var(--main-text-color);
    transition: all 200ms;
    position: fixed;
    bottom: 10px;
    right: 20px;
    height: 50px;
    width: 50px;
    background-color: var(--form-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    z-index: 100;
    backdrop-filter: blur(5px);
}

.open-sales {
    transform: translateY(-60px);
}

.open-sales::after {
    content: "Sales";
    position: absolute;
    left: -50px;
    font-size: 1rem;
    top: 50%;
    transform: translateY(-50%);
}

.open-tech {
    transform: translateY(-120px);
}

.open-tech::after {
    content: "Technical Support";
    position: absolute;
    left: -150px;
    font-size: 1rem;
    top: 50%;
    transform: translateY(-50%);
}

/* footer */

.home-footer {
    background-image: linear-gradient(180deg, #0E83B1, #0B71A8, #144D8B, #3C2866);
    box-shadow: 0 0 8px 20px #0E83B1;
}

.home-footer .menu a {
    text-decoration: none;
    color: white;
    transition: all 200ms;
}

.home-footer a {
    color: white;
}

.home-footer a:hover {
    color: var(--hover-color);
}

.footer-form input,
.footer-form button {
    outline: none;
    border: none;
    border-radius: 30px;
}

.footer-form input {
    width: 80%;
}

.footer-form button {
    position: absolute;
    background-color: var(--hover-color);
    padding: 9px 20px !important;
    top: 0;
    right: 13%;
    box-shadow: 0 0 7px #777;
    transition: all 200ms;
}

.footer-form button:active {
    box-shadow: none;
}

.footer-form button:hover {
    filter: brightness(0.8);
}

.hr {
    border-bottom: 2px solid #FFFFFF;
}

.links-content {
    width: 15%;
}

/* pruduct */

.title {
    margin: 150px 50%;
    transform: translateX(-50%);
    color: var(--main-text-color);
    font-weight: bold;
    font-size: 3rem;
    letter-spacing: 2px;
    position: relative;
    width: max-content;

}

.title::before {
    content: "";
    position: absolute;
    height: 60px;
    width: 60px;
    background-color: #f89c1ba7;
    top: 0;
    left: -30px;
    border-radius: 50%;
    z-index: -1;
    animation: infinite poples 6s;
    animation-delay: 5s;
    opacity: 0;
}

.title::after {
    content: "";
    position: absolute;
    height: 50px;
    width: 50px;
    background-color: #f89c1bbb;
    top: 30%;
    right: -20px;
    border-radius: 50%;
    z-index: -1;
    animation: infinite poples 8s;
    animation-delay: 3s;
    opacity: 0;
}

.marvel-btn {
    padding: 10px 0;
    border: none;
    outline: none;
    color: var(--nav-color);
    background-color: var(--main-text-color);
    transition: all 200ms;
}

.marvel-btn.active {
    background-color: var(--hover-color);
}

.marvel-btn:hover {
    background-color: var(--hover-color);
}

.breadcrumb-item a {
    color: var(--main-text-color);
}

.breadcrumb-item+.breadcrumb-item::before {
    content: ">";
    color: var(--main-text-color);
}

.breadcrumb-item.active {
    color: var(--main-text-color) !important;
}

@keyframes poples {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    50% {
        transform: scale(2);
        opacity: 0.5;
    }

    100% {
        transform: scale(2);
        opacity: 0;
    }
}

.xactive {
    border: none !important;
}

.xzoom-gallery {
    transition: all 300ms;
    border-radius: 10px;
}

.xzoom-gallery:hover {
    filter: brightness(80%);
}

.product-line {
    height: 85vh;
    width: 4px;
    background-color: #f89c1b71;
    position: relative;
}

.product-line::after {
    content: "";
    position: absolute;
    top: 0;
    left: -10.5px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #f89c1b;
}

.product-line::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -10.5px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #f89c1b;
}

.product-table {
    background-color: #f6b2529d;
    border-radius: 5px;
    transition: all 200ms;
    color: var(--main-text-color);
}

.product-table:hover {
    background-color: #f89c1b9f;
    box-shadow: none !important;
}

.product-table td {
    padding: 4px 10px;
}

.product-input {
    border: none;
    background-color: #EEEEEE;
    padding: 10px;
    border-radius: 20px;
    outline: none;
}

.product-input:focus {
    box-shadow: 0 0 10px #eeeeee;

}

.fa-magnifying-glass {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
    color: #aaa;
}

.Similar-Products a {
    color: var(--main-text-color);
}

.Similar-Products a:hover {
    color: var(--hover-color);

}

.pagination .page-item {
    margin: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.pagination .page-link {
    border-radius: 50%;
    box-shadow: none;
    border: none;
    width: 30px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--main-text-color);
    background-color: var(--form-color);

}

.pagination .page-link.active {
    background-color: #ffc368;
    box-shadow: 0 0 7px #aaa;
}

/* about-us */

.back-pic {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.about-text {
    color: var(--main-text-color);
    font-size: 1rem;
    line-height: 1.8;
}

.ani-1,
.ani-2 {
    transition: all 300ms;
}

.about-pop-1 {
    position: absolute;
    left: 0;
    top: 50%;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    opacity: 0;
    background-color: #f89c1b7e;
}

.about-pop-2 {
    position: absolute;
    right: -70px;
    top: 40%;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    opacity: 0;
    background-color: #f89c1b7e;
}

.about-pop-3 {
    position: absolute;
    left: -40px;
    top: 75%;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    opacity: 0;
    background-color: #f89c1b7e;
}

.poples-2 {
    animation: poples-2 6s linear 1;
    animation-timing-function: 2s;
}

.main-color {
    color: var(--main-text-color);
}

.about-count-content {
    margin: 100px 0;
}

.about-count-content div {
    font-weight: bold;
    position: relative;
}

.about-count-content div::before {
    content: "";
    position: absolute;
    top: 10%;
    left: -40%;
    height: 70px;
    width: 70px;
    z-index: -1;
    background-color: #e6972876;
    border-radius: 50%;
}

@keyframes poples-2 {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    50% {
        transform: scale(1.5);
        opacity: 0.5;
    }

    100% {
        transform: scale(3.5);
        opacity: 0;
    }
}

/* e-warrenty */

.ew-img-content {
    padding: 10px 0 200px 0;
    overflow: hidden;
}

.ew-pop-1 {
    position: absolute;
    z-index: -1;
    height: 100px;
    width: 100px;
    top: 40%;
    left: 20%;
    background-color: var(--hover-color);
    border-radius: 50%;
    opacity: 0;
    animation: poples-2 infinite 5s linear 2s;
}

.ew-pop-2 {
    position: absolute;
    z-index: -1;
    height: 80px;
    width: 80px;
    top: 60%;
    left: 60%;
    background-color: var(--main-text-color);
    border-radius: 50%;
    opacity: 0;
    animation: poples-2 infinite 5s linear 1s;
}

.ew-pop-3 {
    position: absolute;
    z-index: -2;
    height: 100px;
    width: 100px;
    top: 70%;
    left: 50%;
    background-color: var(--hover-color);
    border-radius: 50%;
    opacity: 0;
    animation: poples-2 infinite 5s linear 3s;
}

.ew-pop-4 {
    background-image: url("../images/sparkling\ \(1\)\ 1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 1;
    height: 100px;
    width: 100px;
    top: 0;
    left: 20%;
    animation: flash alternate infinite 3s 2s;
    opacity: 0;
}

.ew-pop-5 {
    background-image: url("../images/sparkling\ \(1\)\ 1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 1;
    height: 70px;
    width: 70px;
    top: 10%;
    right: 20%;
    animation: flash alternate infinite 3s;
    transform: rotate(45deg);
}

.hover-color {
    color: var(--hover-color);
}

/* contact-us */

.contact-container {
    height: 142vh;
    background-image: url(../images/Screenshot\ 2023-05-25\ 125620\ 1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.title2 {
    margin: 100px 0 10px 0;
    color: var(--main-text-color);
    font-weight: bold;
    font-size: 3rem;
    letter-spacing: 2px;
    position: relative;
    width: max-content;
}

.title2::before {
    content: "";
    position: absolute;
    height: 60px;
    width: 60px;
    background-color: #f89c1ba7;
    top: 0;
    left: -30px;
    border-radius: 50%;
    z-index: -1;
    animation: infinite poples 6s;
    animation-delay: 5s;
    opacity: 0;
}

.contact-container p {
    color: var(--main-text-color);

}

.tooltip {
    display: inline-block;
    position: relative;
    border-bottom: 1px dotted #666;
    text-align: left;
}

.location-img {
    position: absolute;
    left: 27%;
    top: 125px;
    cursor: pointer;
    animation: flash 4s infinite alternate;
}

.location-img:hover {
    animation: none;
}

.location-text {
    transition: all 300ms;
    padding: 10px;
    width: 80%;
    border-radius: 20px;
    color: #E50027;
    background-color: #f9ebeb85;
    position: relative;
    opacity: 0;
}

.location-text::after {
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    left: 35%;
    bottom: -40px;
    border: 20px solid transparent;
    border-top: 20px solid #f9ebeb85;
}

.contact-content {
    margin-top: 120px;
    background-color: #d1d1d130;
    backdrop-filter: blur(3px);
    padding: 10px;
    width: 90%;
    border-radius: 20px;
}

.contact-content div,
.contact-content h6,
.contact-content p,
.contact-content a {
    color: var(--main-text-color) !important;
}

.contact-content a:hover {
    color: var(--hover-color) !important;
}

.location-text p {
    color: #E50027;
}

.location-img:hover+.location-text {
    opacity: 1 !important;
}

.contact-form,
.contact-form2 {
    margin: 100px 0 10px 0;
    padding: 10px 12%;
    background-color: var(--form-color);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    box-shadow: 5px 4px 10px #777;
    color: var(--main-text-color);
    position: relative;

}

.contact-form input,
.contact-form2 input {
    background-color: transparent;
    padding: 10px;
    border: none;
    width: 100%;
    outline: none;
    border-bottom: 1px solid var(--main-text-color);
    transition: all 300ms;
}

.contact-form input::placeholder,
.contact-form2 input::placeholder {
    color: var(--main-text-color);
}

.contact-form input:focus,
.contact-form2 input:focus {
    border-bottom: 1px solid var(--hover-color);
}

.fr-con input {
    accent-color: var(--main-text-color);
}

.fr-con input:checked {
    background-color: var(--main-text-color);
}

.contact-form button,
.contact-form2 button {
    width: 100%;
    border: none;
    outline: none;
    background-color: var(--main-text-color);
    color: var(--body-color);
    padding: 7px;
    border-radius: 20px;
    transition: all 300ms;
    box-shadow: 2px 2px 7px #777;
}

.contact-form button:hover,
.contact-form2 button:hover {
    background-color: var(--hover-color);
}

.contact-form button:active,
.contact-form2 button:active {
    box-shadow: none;
}

.contact-form2 {
    z-index: auto;

}



.contact-form2::before {
    content: "";
    position: absolute;
    height: 60px;
    width: 60px;
    background-color: #f89c1bbb;
    top: 0;
    left: -30px;
    border-radius: 50%;
    z-index: -1;
    animation: infinite poples 6s;
    animation-delay: 2s;
    opacity: 0;
}

.contact-form2::after {
    content: "";
    position: absolute;
    height: 50px;
    width: 50px;
    background-color: #f89c1bbb;
    top: 80%;
    right: -20px;
    border-radius: 50%;
    z-index: -1;
    animation: infinite poples 8s;
    animation-delay: 4s;
    opacity: 0;
}

.contact-content2 {
    background-color: #d1d1d130;
    backdrop-filter: blur(3px);
    padding: 10px;
    width: 70%;
    border-radius: 20px;
}

.contact-content2 div,
.contact-content2 h6,
.contact-content2 p,
.contact-content2 a {
    color: var(--main-text-color) !important;
}


.contact-content2 a:hover {
    color: var(--hover-color) !important;
}

.iframe {
    margin-top: 50px;
    box-shadow: -2px -2px 10px #4d4d4d;
    z-index: -999999999;
    ;
}

/* media  */

@media (max-width:500px) {
    .landing h1::before {
        left: 10px;
        bottom: -80%;
    }

    .support {
        background-position: right;
    }

    .support h4 {
        font-size: 1.5rem;
    }

    .support h5 {
        font-size: 1.5rem;
        top: 30%;
        width: 100%;
        left: 10px;
    }

    .ew-pop-1 {
        animation: none;
        opacity: 1;
        width: 150px;
        height: 150px;
        left: 10%;
    }

    .ew-pop-2 {
        animation: none;
        opacity: 1;
        width: 100px;
        height: 100px;
    }

    .ew-pop-3 {
        animation: none;
        opacity: 1;
        width: 150px;
        height: 150px;
        top: 65%;
        left: 40%;
    }

    .ew-pop-4 {
        animation: none;
        opacity: 1;
    }

    .ew-pop-5 {
        animation: none;
        opacity: 1;
    }

    .location-text {
        opacity: 1;
    }

    .contact-container {
        height: max-content;
    }

    .contact-container2 {
        height: max-content;
    }

    .contact-content2 {
        width: 100%;
    }

    .search-box {
        margin-left: 50%;
        transform: translateX(-50%);
    }

    .links-content {
        width: 100%;
    }

    .dropdown-menu {
        width: 100%;
    }

}